<!DOCTYPE html>
<html>
<head>
  <title>Welcome</title>
</head>
<body>
  <h1>{{ greeting | upper }}</h1>
  <pre><code> {{ cowsay_string.stdout }} </code></pre>
  <h2>Deployed at {{ ansible_date_time.date }} </h2>
</body>
</html>
